.mainTitle {
    -fx-font-size: 50px;


}

.borderPane {
    -fx-background-color: linear-gradient(to right, lightskyblue, lightgray);
}

.bigButton {
    -fx-font-weight: 700;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-background-color: #7bff9c;
}

.mediumButton{
    -fx-font-weight: 700;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-background-color: #7bff9c;
}

.dangerButton {
    -fx-font-weight: 700;
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-background-color: rgba(255, 0, 0, 0.79);
}

.table-view{
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-font-size: 17px;
}

.column-header {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-background-color: lightblue;
    -fx-text-alignment: center;
    /*-fx-opacity: 0.20;*/
}

.table-row-cell:odd:filled{
-fx-background-color: transparent;

}

.table-row-cell:selected{
    -fx-background-color: #2eeeae;
    -fx-border-color: black;
    -fx-border-radius: 5px;
}

.table-row-cell:even:filled{
    -fx-background-color: transparent;

}



.table-row-cell:empty{
    -fx-border-width: 0px;
    -fx-background-color: transparent;

}

